.container {
    background-color: #f9f9f9;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 189px;
    
    h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 3rem;
        font-family: "Open Sans";
    }

    p {
        margin-top: 0;
        font-size: 1.5rem;
        font-family: "Questrial";
    }
}

.container-left, .container-right {
    margin: 0;
    padding: 0;
    max-width: 50%;
}

.container-left {
    align-self: normal;
}
