.logo-img {
    width: 600px;
    border-radius: 1rem;
    height: 300px;
}

.separed {
    border-right: solid 3px #cecccc;
    height: 100%;
    padding-right: 170px;
}

img {
    border-radius: 1rem;
}

.img-select-input-airfol {
    cursor: pointer;
}

